body {
    margin: 0;
    padding: 0;
}

.logo-container {
    background-color: transparent; /* Устанавливаем прозрачный фон для контейнера */
    text-align: center; /* Центрируем содержимое по горизонтали */
    padding: 20px; /* Добавляем отступы для красоты */
}

.logo-container img {
    max-width: 100%; /* Максимальная ширина изображения равна ширине родительского элемента */
    height: auto; /* Поддерживаем соотношение сторон */
}
