/* Общие стили */
body {
    margin: 0;
    padding: 0;
}
.header {
    background-color: #171615; /* Цвет фона полосы навигации */
    width: 100%; /* Ширина полосы навигации */
    height: 80px; /* Высота полосы навигации */
    position: fixed; /* Фиксированное позиционирование */
    top: 0; /* Размещение сверху */
    left: 0; /* Размещение слева */
    z-index: 1000; /* Индекс слоя */
    display: flex;
    justify-content: space-between; /* Равномерное распределение элементов по горизонтали */
    align-items: center; /* Выравнивание по центру по вертикали */
    padding: 0 20px; /* Внутренний отступ справа и слева */
}
.logo {
  background-image: url('minecraft_title.png');
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.join-button {
    width: 120px; /* Ширина кнопки */
    height: 40px; /* Высота кнопки */
    background-image: url('join_now.png'); /* Фоновое изображение кнопки */
    background-size: contain; /* Размер фонового изображения будет подстраиваться */
    background-repeat: no-repeat; /* Отключаем повторение фонового изображения */
    cursor: pointer; /* Изменение курсора при наведении */
    margin-left: 20px; /* Отступ слева для разделения от края */
}
