/* Общие стили */
body {
    margin: 0;
    padding: 0;
}

/* Стили для вашей полоски навигации */
.header {
    background-color: #171615; /* Цвет фона вашей полоски */
    height: 60px; /* Высота вашей полоски */
    width: 100%; /* Ширина вашей полоски на всю ширину экрана */
    margin: 0;
    padding: 0;
}
