body {
    margin: 0;
    padding: 0;
}

.header {
    background-color: #333; /* Темно-серый цвет */
    color: #fff; /* Белый цвет текста */
    padding: 20px 0; /* Отступы сверху и снизу */
    text-align: center; /* Центрирование содержимого */
}

.logo-container {
    max-width: 200px; /* Максимальная ширина контейнера логотипа */
    margin: 0 auto; /* Центрирование по горизонтали */
}

.logo-container img {
    max-width: 100%; /* Сделать логотип адаптивным */
    height: auto;
}
